[submodule ".registry"]
	path = .registry
	url = https://github.com/nononoexe/nononoexe.r-universe.dev
	branch = HEAD
[submodule "aichicities"]
	path = aichicities
	url = https://github.com/NONONOexe/aichicities
[submodule "jpaccidents"]
	path = jpaccidents
	url = https://github.com/NONONOexe/jpaccidents
[submodule "kyotocities"]
	path = kyotocities
	url = https://github.com/NONONOexe/kyotocities
[submodule "pavement"]
	path = pavement
	url = https://github.com/NONONOexe/pavement
[submodule "roadnetdb"]
	path = roadnetdb
	url = https://github.com/NONONOexe/roadnetdb
[submodule "rrstools"]
	path = rrstools
	url = https://github.com/NONONOexe/rrstools
[submodule "setariaviridis"]
	path = setariaviridis
	url = https://github.com/NONONOexe/setariaviridis
